.raised-button{
     width: 100%;
     height: 70px;
     background-color: #2A7FFA;
     border-radius: 8px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: none;
     outline: none;
     color: white;
     font-weight: bold;
     font-size: 20px;
     cursor: pointer;
     font-family: 'Inter';
}