.ButtonRenderControl {
  display: flex;
  border: none;
  background: transparent;
  padding: 15px 20px;
  cursor: pointer;
  justify-content: space-between;
  box-sizing: border-box;
  span {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }
  &.isSelected {
    background: rgba(255, 255, 255, 0.1);
  }
  &.isExpanded{
    background: rgba(255, 255, 255, 0.1);
  }
  &.ButtonBgControl {
    background-color: transparent;
  }

  &.SubButton {
    width: 100%;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.1);

    h4 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 2px;
      color: #fff;
    }

    &.isSelected{
      background: rgba(255, 255, 255, 0.2);
    }
  }
}
.ButtonRenderControlDrop {
  display: flex;
  border: none;
  background: #404040;
  padding: 15px 20px;
  cursor: pointer;
  justify-content: space-between;
  box-sizing: border-box;
  span {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

.DropOpen {
  transition: all 0.4s ease;
  transform: rotate(180deg);
}
.DropClosed {
  transition: all 0.4s ease;
  transform: rotate(0deg);
}
.DropisSelected {
  background: #ffffff46;
}
div.DropContent {
  transform: translateX(-100%);
  animation: 0.3s OpenDropAn forwards;
}

@keyframes OpenDropAn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
