.ButtonRenderControl {
  display: flex;
  width: 100%;
  border: none;
  background: transparent;
  padding: 24px 20px;
  cursor: pointer;
  justify-content: space-between;
  box-sizing: border-box;
  span {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }
  svg{
    width: 25px;
    height: 25px;
  }
  &:hover{
    background-color: rgba(104, 104, 104, 0.136);
  }
  &.isSelected {
    background: rgba(255, 255, 255, 0.2);
  }
  &.isExpanded{
    background: rgba(255, 255, 255, 0.1);
  }
  &.ButtonBgControl {
    background-color: transparent;
    &:hover{
      background-color: rgba(104, 104, 104, 0.136);
    }
  }

  &.SubButton {
    width: 100%;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.1);
    &:hover{
      background-color: rgba(104, 104, 104, 0.136);
    }
    h4 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 2px;
      color: #fff;
    }
    &.isSelected{
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.largeNav{
  .ButtonRenderControl:not(.SubButton) {
    h4{
      animation: 0.5s fadeText forwards;
    }
    svg{
      animation: 0.5s fadeSvg forwards;
    }
  }
  .ButtonRenderControl.SubButton {
    h4{
      animation: 0.5s fadeTextSub forwards;
    }
    svg{
      animation: 0.5s fadeSvg forwards;
    }
  }
}
.smallNav{

  .ButtonRenderControl.SubButton {
    background:#2B2B2B;
    &:hover{
      background-color: rgb(56, 56, 56);
    }
    &.isSelected {
      background-color: rgb(27, 27, 27);
    }
  }
}


.ButtonRenderControlDrop {
  display: flex;
  border: none;
  background: #404040;
  padding: 15px 20px;
  cursor: pointer;
  justify-content: space-between;
  box-sizing: border-box;
  
  span {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

.DropOpen {
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
}
.DropClosed {
  transition: all 0.3s ease;
  transform: rotate(0deg);
}
.DropisSelected {
  background: #ffffff46;
}
div.DropContent {
  transform: translateX(-100%);
  animation: 0.3s OpenDropAn forwards;
}
div.DropContentClosed {
  transform: translateX(-100%);
  animation: 0.3s OpenDropAn forwards;
  position: absolute;
  left: 80px;
  width: 300px;
  button{
    &:first-child{
      border-radius: 0px 8px 0px 0px;
    }
    &:last-child{
      border-radius: 0px 0px 8px 0px;
    }
  }
}

@keyframes OpenDropAn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeText {
  from {
    opacity: 0;
    font-size: 0;
  }
  to {
    opacity: 1;
    font-size: 20px;
  }
}

@keyframes fadeTextSub {
  from {
    opacity: 0;
    font-size: 0;
  }
  to {
    opacity: 1;
    font-size: 14px;
  }
}

@keyframes fadeSvg {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: auto;
  }
}
