.container-configuration{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    .configOptions {
        margin-left: 20px;
        display: flex;
        align-items: flex-start;
        .configOptionsButton {
            width: fit-content;
            transition: all 0.25s ease;
            padding: 20px 55px;
            background-color: #F4F4F4;
            border-radius: 8px 8px 0 0;
            border: none;
            color: #2a7ffa;
            cursor: pointer;
            font-family: "Inter";
            font-weight: bold;
            
            &.active {
                background-color: #2a7ffa;
                color: white;
                }
            }
    }

    .container-configuration--content{
        width: 100%;
        min-height: 250px;
        overflow-y: auto;
        border-radius: 8px;
        background-color: #F4F4F4;
        border: #2a7ffa solid 2px;
        .container-configuration--tab{
            padding: 40px;
            .modalInput{
                background: transparent;
                margin-top: 20px;
                p{
                    background-color: #f4f4f4;
                }
            }

            .row{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .container-theme{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                    outline: 1px solid rgba(255, 255, 255, 0.375);
                    margin: 10px;
                    cursor: pointer;
                    transition-duration: 0.2s;
                    &.active{
                        outline: 5px solid #2a7ffa;
                        width: 180px;
                        height: 180px;
                        &::before{
                            content: 'Selected';
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 18px;
                            margin: 0 auto;
                            color: #FFFFFF;
                        }
                    }
                    &:hover{
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                }
            }
  
        }
    }
}