.NavContent {
  height: 100%;
  background-color: #2b2b2b;
  transition: all 0.3s cubic-bezier(0, 0.24, 0.18, 1.01);
  box-sizing: border-box;

  &.smallNav {
    min-width: 5rem;
  }
  &.largeNav {
    min-width: 20rem;
  }
  .ButtonContrlNav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    div {
      transition: all 0.3s ease;
    }
  }
  .buttonopen {
    margin-left: 20px;
    margin-right: 20px;
    div {
      width: 20px;
      height: 2px;
      background-color: #fff;
    }
  }
  .buttonclosed {
    margin-left: 20px;
    margin-right: 20px;
    div {
      width: 2px;
      height: 2px;
      background-color: #fff;
    }
  }
  .ContentButtonsRender{
    row-gap: 10px;
  }
  .SectionSelectTrue {
    display: flex;
    flex-direction: column;
    height: calc(100% - 151px);
    animation: 0.4s NavStateT forwards;
  }
  .SectionSelectFalse {
    height: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 0.4s NavStateF forwards;
  }
}
.DivBarControlopen {
  width: 85.4%;
  height: 1px;
  background: #ffffff33;
  margin: 20px auto;
}
.DivBarControlClosed {
  display: none;
}

.ExitContent {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
  justify-content: start;
  gap: 10px;
  h3 {
    font-size: 20px;
    color: #d57373;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}
@keyframes NavStateF {
  from {
    transform: translateX(-100%);
  }
  40% {
    justify-content: center;
  }
  to {
    justify-content: center;
    transform: translateX(0%);
  }
}
@keyframes NavStateT {
  from {
    transform: translateX(-100%);
  }
  40% {
    // justify-content: center;
  }
  to {
    transform: translateX(0%);
  }
}
