.SearchBar {
  user-select: none;
  display: flex;
  align-items: center;
  background: #1e1e1e0d;
  box-sizing: border-box;
  cursor: text;
  gap: 20px;
  .SearchBarInput {
    // font-size: 50px;
    border: none;
    outline: none;
    // color: blue;
    background: transparent;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    &::placeholder {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
