.tablelayout {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  thead {
    background-color: transparent;
    th {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      text-align: left;
      color: rgba(30, 30, 30, 0.7);
      background-color: #f4f4f4;
      position: sticky;
      top: 0;
      z-index: 3;
    }
  }
  tbody {
    background: #f4f4f4;
    border-collapse: collapse;
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    tr:nth-child(even) {
      background: rgba(0, 0, 0, 0.05);
    }
    td {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: rgba(43, 43, 43, 0.7);
      &.bold {
        color: #1e1e1e;
        font-weight: 700;
      }
      padding: 10px;
      .image-color-wrapper {
        display: inline-flex;
        align-items: center;
        width: 100%;
        max-width: 250px;
        justify-content: space-around;
        border-right: 1px solid rgba(0, 0, 0, 0.213);
        // ------------------- PRODUCT IMAGE
        .product-image {
          position: relative;
          border-radius: 50%;
          width: 50%;
          height: 100px;
          transition: 0.5s;
          &:hover {
            img {
              outline: 1px solid rgba(0, 0, 0, 0.05);
            }
            .shadow {
              display: grid;
            }
          }
          .shadow {
            position: absolute;
            display: none;
            width: 100px;
            height: 100px;
            align-items: center;
            align-content: center;
            background: rgb(0, 0, 0);
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.48) 0%,
              rgba(0, 0, 0, 0.24) 25%,
              rgba(255, 255, 255, 0.96) 100%
            );
            border-radius: 50%;
            cursor: pointer;
            svg {
              margin: 0 auto;
            }
          }
          img {
            outline: 1px solid rgba(0, 0, 0, 0.117);
            border-radius: 50%;
            width: 100px;
            height: 100px;
            box-sizing: border-box;
            object-fit: cover;
          }
        }
        // ------------------- PRODUCT IMAGE
        .product-color {
          width: 50%;
          text-align: center;
          .color {
            width: 25px;
            height: 25px;
            border: 1px solid rgba(255, 255, 255, 0.186);
            outline: 1px solid rgba(0, 0, 0, 0.117);
            border-radius: 8px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  th {
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

.buttonPopup {
  position: relative;
  .options {
    box-sizing: border-box;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background: rgba(30, 30, 30, 0.1);
    }
  }
  .containerOptions {
    z-index: 3;
    position: absolute;
    background: #f4f4f4;
    border-radius: 8px;
    width: 210px;
    left: -210px;
    top: -90px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.65);
    .containerOptions--body {
      position: relative;
      z-index: 5;
      button {
        border: none;
        width: 100%;
        max-height: 50px;
        padding-top: 16px;
        padding-bottom: 16px;
        cursor: pointer;
        transition-duration: 0.3s;
        animation: ease-in-out;
        svg {
          opacity: 0;
          width: 0;
          height: 0;
        }
        span {
          font-size: 15px;
          opacity: 1;
        }

        &:hover {
          svg {
            opacity: 1;
            width: 15px;
            height: 15px;
          }
          span {
            font-size: 0;
            opacity: 0;
          }
        }
      }
      .update,
      .view {
        background-color: transparent;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #1e1e1e;
        &:hover {
          background: rgba(156, 156, 156, 0.161);
        }
      }
      .delete {
        background: rgba(213, 115, 115, 0.1);
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #d57373;
        &:hover {
          background: rgba(213, 115, 115, 0.276);
        }
      }
    }
  }

  &.skuPopup {
    .containerOptions {
      top: -65px;
    }
  }
}
