.anchor-logo {
     display: flex;
     align-items: center;
     gap: 5px;
     text-transform: uppercase;
     font-weight: bold;
     flex-direction: row;
     color: #2A7FFA;
     font-family: 'Inter';
}

.anchor-name {
     display: block;
}

.logo-icon-base {
     width: fit-content;
     height: fit-content;
     display: flex;
     align-items: center;
     color: white;
     border-radius: 50px;
     justify-content: center;
     width: 70px;
     height: 70px;
     background-color: #2A7FFA;
}

@media screen and (max-width: 650px) {
     .anchor-name {
          display: none;
     }

     .logo-icon-base {
          background-color: #fff !important;
          
          svg path{
               fill: #2A7FFA;
          }
     }
}