.portfolio-body{
     .footer {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     font-family: 'Inter';
     background-color: #212832;
     margin-top: 200px;

     @media screen and (max-width: 650px) {
          margin-top: 250px;
     }

     .footer-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 100px;

          .footer-header {
               width: 100%;
               box-sizing: border-box;
               box-shadow: 0 -60px 50px -75px rgba($color: #000000, $alpha: 0.1);
               padding: 40px;
               transform: translate(0, -50%);
               background-color: white;
               border-radius: 8px;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               gap: 20px;

               @media screen and (max-width: 650px) {
                    box-shadow: 0 -30px 30px -30px rgba($color: #000000, $alpha: 0.1);
               }

               .footer-header-title {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 500;
                    color: #212832;
               }

               button {
                    padding: 15px 20px;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    font-size: 1.5rem;
                    text-decoration: underline;
                    color: #2A7FFA;
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    border-radius: 8px;
                    transition: all 0.25s ease;
                    outline: 1px rgba($color: #000000, $alpha: 0.0) solid;

                    &:hover {
                         outline: 1px rgba($color: #000000, $alpha: 0.1) solid
                    }
               }
          }

          .footer-content-selection {
               transform: translate(0, -100px);
               width: 100%;
               display: flex;
               flex-wrap: wrap;
               gap: 100px;
               align-items: flex-start;
               justify-content: space-between;
               flex-direction: row;

               @media screen and (max-width: 650px) {
                    transform: translate(0, -190px);
               }

               .footer-content-title {
                    width: 400px;

                    @media screen and (max-width: 650px) {
                         width: 100%;
                    }

                    .footer-content-index {
                         display: flex;
                         flex-direction: column;
                         gap: 40px;

                         .paragraph {
                              text-align: start;
                              color: rgba($color: #fff, $alpha: 0.8);
                         }
                    }
               }

               .footer-content-links {
                    flex-wrap: wrap;
                    display: flex;
                    align-items: flex-start;
                    gap: 100px;

                    .footer-content-index {
                         gap: 40px;
                         display: flex;
                         flex-direction: column;
                         align-items: flex-start;

                         .hypper-text {
                              color: #fff;
                         }

                         .footer-content-index-links {
                              gap: 20px;
                              text-decoration: underline;
                              display: flex;
                              color: rgba($color: #fff, $alpha: 0.8);
                              font-size: 1rem;
                              flex-direction: column;
                              align-items: flex-start;

                              p {
                                   cursor: pointer;
                              }
                         }
                    }
               }
          }

          .rights {
               transform: translate(0, -100px);

               .paragraph {
                    color: rgba($color: #fff, $alpha: 0.8);
               }
          }
     }
}
}