.Stock {
    height: inherit;
    padding: 20px;
  .TableContent {
    margin: 0px 40px;
    height: 100%;
    background-color: #F4F4F4;
    border-radius: 10px;
  }
  .buttonPopup .containerOptions {
    left: -210px;
}
}
