.DefaultButtonComponent {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  background: #2a7ffa;
  gap: 5px;
  svg {
    font-size: 1.4rem;
  }
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
  }
}
