.Header {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: space-between;
  font-family: "Inter";
  .NamePage {
    display: flex;
    align-self: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    p {
      user-select: none;
      font-style: normal;
      font-weight: 400;
      color: rgba(30, 30, 30, 1);
      span {
        font-weight: 800;
        color: #1E1E1E;
      }
    }
  }
  .BtnControl{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
