// Bloco de config do default button
// ------------------------------------------------------------------------------------------------------------------------------------------------
.ButtonComponent {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  .DivContentNameL {
    display: flex;
    align-items: center;
    gap: 15px;
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
  }
}
// ------------------------------------------------------------------------------------------------------------------------------------------------
.ButtonComponent:focus {
  background-color: rgba($color: #000000, $alpha: 0.1);
}
// dentro desse bloco vai estar as config
// de scss do button drop

// ------------------------------------------------------------------------------------------------------------------------------------------------
.ButtonDrop {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  height: 70px;
  border: none;
  background-color: transparent;
  flex-direction: column;
  animation: 0.25s RexpandT forwards;
  .DropIcon {
    animation: 0.25s rgiro forwards;
  }
  .ButtonDroplFocus {
    padding: 0px 15px;
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    .DivContentNameLDrop {
      display: flex;
      align-items: center;
      gap: 15px;
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }
    }
  }
  &:focus {
    animation: 0.2s expandT forwards;
    // height: auto;

    .DropIcon {
      animation: 0.2s giro forwards;
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------------------------------------
.DropButtonContent {
  min-height: 70px;
  max-height: 70px;
  display: flex;
  width: 100%;
  align-items: center;
  animation: 0.25s expand forwards;
  background: rgba(64, 64, 64, 1);

  .DropControlBtn {
    margin-left: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 15px;
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
  }
}

// key frames area
@keyframes expand {
  from {
    min-height: 0px;
    max-height: 0px;
  }
  to {
    min-height: 70px;
    max-height: 70px;
  }
}

.null {
  animation: 0.25s uexpand forwards;
  height: 70px;
}
@keyframes uexpand {
  from {
    min-height: 70px;
    max-height: 70px;
  }
  to {
    min-height: 0px;
    max-height: 0px;
  }
}
@keyframes giro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
    animation-play-state: paused;
  }
}
@keyframes rgiro {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}


@keyframes RexpandT {
  from {
    height: auto;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
  50% {
    height: 25%;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
  70% {
    // height: 50%;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
  to {
    height: 70px;
    // background-color: rgba($color: #000000, $alpha: 0.1);
  }
}
@keyframes expandT {
  from {
    height: 70px;
    background-color: transparent;
  }
  2% {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
  50% {
    height: 20%;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
  70% {
    // height: 60%;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
  to {
    background-color: rgba($color: #000000, $alpha: 0.1);
    height: auto;
  }
}
