.MenuContent {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 320px;
  background-color: rgba(43, 43, 43, 1);
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: 1px;
  .LogoContent{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .UserNav {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    .OptionsContent {
      padding-top: 30px;
      width: 100%;
      // height: 100%;
    }
  }
  .ExitBtn{
    display: flex;
    align-items: center;
    padding-left:15px ;
    gap: 15px;
    margin-top: auto;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    p{
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #D57373;;
    }
  }
}
.MenuContent::-webkit-scrollbar {
  width: 5px;
}
.MenuContent::-webkit-scrollbar-track {
  background: rgba($color: #000000, $alpha: 0.1);
}
.MenuContent::-webkit-scrollbar-thumb {
  background: rgba($color: #000000, $alpha: 0.2);
}
.MenuContent::-webkit-scrollbar-thumb:hover {
  color: #fff;
}
