.viewProductModal {
  width: 100%;
  max-width: 1024px;
  max-height: 100%;

  .left-side,
  .right-side {
    width: 50%;
  }

  .row {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
  }
  .col {
    flex: auto;
  }

  .input-s {
    width: 100%;
    max-width: 200px;
  }
  .input-f {
    width: 100%;
    max-width: 200px;
  }

  .input-textfield {
    width: 100%;
    max-width: 530px;
    textarea {
      height: 140px !important;
    }
  }

  .input-s,
  .input-f,
  .input-textfield {
    label {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;

      color: rgba(30, 30, 30, 0.7);
    }
  }

  .viewProductFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .viewProductActions {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}
